[data-testid="highlightActionsPopup"] {
  display:none;
}

[aria-label="Record a Loom video"] {
  display:none;
}

[data-testid="object-sidebar-details-button-id"]
{
  display:none;
}

[data-vc="nav4-globalItems"]
{
display:none;
}

[data-ssr-placeholder="kWSCB:fQj-o:NcP7O:6E8ob:F4Zdx-0"] {display:none;}
[data-ssr-placeholder="MuuSQ:fQj-o:NcP7O:6E8ob:F4Zdx-0"]{display:none;}
[aria-controls=":R8mauebabt8j5b9:"]{display:none;}
[id="scroll-to-top-button"]{display:none;}
[class="cc-9mh1ya"]{display:none;}
